body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main-loading {
  position: fixed;
  top: 0;
  left: 0;
  /* background: #fff; */
  width: 100vw;
  height: 100vh;
}
.main-loading-child0 {
  width: 100vw;
  height: 10vh;
  background-color: yellow;
  animation: loading 0.8s 0.2s linear both;
}
.main-loading-child1 {
  width: 100vw;
  height: 10vh;
  background-color: yellow;
  animation: loading 1.2s 0.6s linear both;
}
.main-loading-child2,
.main-loading-child7 {
  width: 100vw;
  height: 10vh;
  background-color: yellow;
  animation: loading 1.5s 0.4s linear both;
}
.main-loading-child3 {
  width: 100vw;
  height: 10vh;
  background-color: yellow;
  animation: loading 2s 0.6s linear both;
}
.main-loading-child4,
.main-loading-child8 {
  width: 100vw;
  height: 10vh;
  background-color: yellow;
  animation: loading 1.8s 0.3s linear both;
}
.main-loading-child5 {
  width: 100vw;
  height: 10vh;
  background-color: yellow;
  animation: loading 2.2s 0.1s linear;
}
.main-loading-child6 {
  width: 100vw;
  height: 10vh;
  background-color: yellow;
  animation: loading 2s 0.5s linear both;
}
.main-loading-child9 {
  width: 100vw;
  height: 10vh;
  background-color: yellow;
  animation: loading 2.4s 0.2s linear both;
}
@keyframes loading {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-200vw);
  }
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* çˆ¶ */
.flex-x {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-x-center-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.flex-x-center-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-x-center-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.flex-x-center-around {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.flex-x-center-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-x-start-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-x-start-center {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.flex-x-start-end {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.flex-x-start-around {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.flex-x-start-between {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-x-end-start {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.flex-x-end-center {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.flex-x-end-end {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-x-end-around {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.flex-x-end-between {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-y {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-y-end-around {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.flex-y-end-between {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-y-center-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-y-center-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-y-start-around {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.flex-y-start-between {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-y-center-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flex-y-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-y-center-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.flex-y-start-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-y-start-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex-y-start-end {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.flex-y-end-start {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.flex-y-end-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.flex-y-end-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}
